name = "DataDrivenAcoustics"
uuid = "b376a22e-6432-4b80-a794-261b95783a4a"
authors = ["Li Kexin <kexin@nus.edu.sg> and Mandar Chitre <mandar@nus.edu.sg>"]
version = "0.2.0"

[deps]
BangBang = "198e06fe-97b7-11e9-32a5-e1d131e6ad66"
DSP = "717857b8-e6f2-59f4-9121-6e50c889abd2"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
GaussianProcesses = "891a1506-143c-57d2-908e-e1f8e92e6de9"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
UnderwaterAcoustics = "0efb1f7a-1ce7-46d2-9f48-546a4c8fbb99"
Zygote = "e88e6eb3-aa80-5325-afca-941959d7151f"

[compat]
BangBang = "0.3"
DocStringExtensions = "0.9"
Flux = "0.13, 0.14"
RecipesBase = "1"
UnderwaterAcoustics = "0.3"
Zygote = "0.6"
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
